Html {
  margin: 4px;
}

body {
  background-color: #222;
}

/* VIEW START */
.divElemt {
  /*background-color: rgba(167, 138, 138, 0.432);*/
  justify-content: center;
  margin-top: 100px;
  padding-top: 30px;
  padding-bottom: 50px;
  width: 100% !important;

}

.btnRandom {
  margin-top: 30px;
  margin-left: 40px;
  width: 250px;
  border-radius: 10px;
}

.btnHome {
  margin-left: 100px;
  margin-bottom: 25px;
  border: 2px solid white !important;
  font-size: 0.875em !important;
  color: white !important;
}

.divBtnHome {
  /*background-color: rgba(255, 235, 205, 0.336);*/
  margin-left: 170px;
  margin-right: 10px;
}

/****************************************************/
.divRandom {
  margin-top: 20px;
}

.btnWatchMovie {
  margin-left: 40%;

}

.icon {
  width: 10px;
  height: 10px;
}

#movieCard {
  margin-top: 20px;

}

.cars {
  border-radius: 15px !important;
}

#moviePoster {
  border-radius: 15px;
  margin-bottom: 1rem;
}

#cardsSearch {

  border-radius: 15px !important;
  margin-bottom: 15px !important;
}

#btnWatch, #btnHome {
  margin-top: 15px;
}

#search, #btnSearch {
  display: inline-block !important;
}
.question{
  margin-left:3rem;
}
